.header {
    color: rgb(38, 89, 111);
    background-color: rgb(253, 232, 19);
    font-size: 30px;
    padding: 15px;
    height: auto;
    margin-bottom: 100px;
    border-bottom: solid 3px rgb(38, 89, 111);
    .title {
        margin-top: 0px;
    }
    .instructions {
font-size: 35px;
    }
}